<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width,initial-scale=1.0" />
		<title>标签新增页面</title>
		<script src="../../static/js/jquery-3.6.0.min.js" th:src="@{/js/jquery-3.6.0.min.js}"></script>
		<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js" ></script>
		<script src="../../static/lib/editormd/editormd.min.js"></script>
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
		<link rel="stylesheet" href="../../static/lib/editormd/css/editormd.css" th:href="@{/lib/editormd/css/editormd.css}"/>
		<link rel="stylesheet" href="../../static/css/mycss.css" th:href="@{/css/mycss.css}">
	</head>
	<body>
		<!-- 导航栏 -->
		<nav class="ui inverted attached segment my-Navbar my-shadow-small">
			<div class="ui container">
				<div class="ui inverted stackable menu">
					<h2 class="ui teal header item">博客管理后台</h2>
					<a href="#" th:href="@{/admin/blogs}" class="my-item item my-mobile-hide"><i class="home icon"></i>博客页面</a>
					<a href="#" th:href="@{/admin/types}" class=" my-item item my-mobile-hide"><i class="idea icon"></i>分类</a>
					<a href="#" th:href="@{/admin/tags}" class="active  my-item item my-mobile-hide"><i class="tags icon"></i>标签</a>
					 <div class="right menu">
						 <div class="ui dropdown item">
							 <div class="text">
							       <img class="ui avatar image" src="../../static/img/pepole.jpg" th:src="@{/img/pepole.jpg}" >
								 <span th:text="${session.user.nickname}"></span>
							 </div>
							 <i class="dropdown icon"></i>
							 <div class="menu">
								 <a href="#" class="item">注销</a>
							 </div>
						 </div>
					 </div>
					  
				</div>
			</div>
			<a href="#" class="ui menu toggle black icon button my-right-top my-mobile-show">
				<i class="sidebar icon"></i>
			</a>
		</nav>
		<!-- 二级导航 -->
		<div class="ui pointing menu">
			<div class="ui container">
				<div class="right menu">
					<a href="#" th:href="@{/admin/tag -input}" class="active teal active item">发布</a>
					<a href="#" th:href="@{/admin/tags}" class="item">列表</a>
				</div>
			</div>
		</div>
		<br/>
		<br/>
		<br/>
		<!-- 中间内容 -->
		<div class="my-contain">
			<div class="ui container">
				<form action="#" method="post"  th:Object="${tag}" th:action="*{id}==null ? @{/admin/tags2} : @{/admin/tags/{id}(id=*{id})}" class="ui form">
					   <input type="hidden" name="id" th:value="*{id}">
                       <div class="required field">
						<div class="ui fluid left labeled input">
							<label class="ui teal basic label">标签</label>
							<input type="text" name="name" placeholder="分类名称" th:value="*{name}">
						</div>
					   </div>
						<br/>
						<br/>
						<!-- js判断的错误信息 -->
						<div class="ui error message"></div>
						<<div class="ui negative message" th:if="${#fields.hasErrors('name')}">
						<div class="header">验证失败：</div>
						<p th:errors="*{name}"></p>
						</div>
						<div class="ui right aligned container">
							<button type="button" class="ui button" onclick="window.history.go(-1)">返回</button>
							<button class="ui teal submit button">提交</button>
						</div>
				</form>
			</div>
		</div>
		<br />
		<br />
		<br />
		<br />
		<br />
		<br />
		<br />
		<br />
		<br />
		<br />
		<br />
		<br />
		<br />
		<!-- 底部部分 -->
		<footer class="ui inverted vertical segment">
			<div class="ui center aligned container">
				<!-- 相当于bootstarp把一行分割成16份 -->
				<div class="ui inverted divided stackable grid">
					<div class="three wide column">
					  <img src="../../static/img/wechat.jpg" class="ui rounded image" style="width: 150px;"/>
					 </div>
					<div class="four wide column">
						<h4 class="ui inverted header">最新博客</h4>
						<div class="ui inverted link list">
							<a href="#" class="item">...</a>
							<a href="#" class="item">...</a>
							<a href="#" class="item">...</a>
						</div>
					</div>
					<div class="four wide column">
						<h4 class="ui inverted header">联系方式</h4>
						<div class="ui inverted link list">
							<span>邮箱：319871391@qq.com</span>
							<br />
							<br />
							<span>QQ:31987191</span>
						</div>
					</div>
					<div class="five wide column">
						<h4 class="ui inverted header">libowen</h4>
						<p>欢迎大家一起来交流学习</p>
					</div>
				</div>
				<div class="ui inverted section divider"></div>
					<p>禁止转载什么一些乱七八糟的东西</p>
			</div>
		</footer>
		<script type="text/javascript">


		 /* 用户注销*/
		 $('.ui.dropdown').dropdown();
		 /* 分类名称不能为空*/
		 $('.ui.form').form({
			 fields:{
				 title:{
					 identifier:'name',
					 rules:[{
						 type:'empty',
						 prompt:'请输入分类名称！'
					 }]
				 }
			 }
		 });
		</script>
	</body>
</html>
