<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="_fragments :: head(~{::title})">
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width,initial-scale=1.0" />
		<title>归档页</title>
		<script src="../static/js/jquery-3.6.0.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
		<link rel="stylesheet" href="../static/css/mycss.css">
	</head>
	<body>
		<!-- 导航栏 -->
		<nav class="ui inverted attached segment my-Navbar my-shadow-small">
			<div class="ui container">
				<div class="ui inverted stackable menu">
					<h2 class="ui teal header item">libowen</h2>
					<a href="#" th:href="@{/}" class="my-item item my-mobile-hide"><i class="home icon"></i>首页</a>
					<a href="#"  th:href="@{/types/-1}" class=" my-item item my-mobile-hide"><i class="idea icon"></i>分类</a>
					<a href="#"  th:href="@{/archives}" class="active my-item item my-mobile-hide"><i class="clone icon"></i>归档</a>
					<a href="#" th:href="@{/tags/-1}" class="my-item item my-mobile-hide"><i class="tags icon"></i>标签</a>
					<a href="#"  th:href="@{/aboutme}" class="my-item item my-mobile-hide"><i class="info icon"></i>关于我</a>
					<div class="right my-item  item my-mobile-hide">
						<form name="search" th:action="@{/search}" method="post" target="_blank">
							<div class="ui icon  input">
								<input name="query" type="text" placeholder="Search..." th:value="${query}"/>
								<i onclick="document.forms['search'].submit()" class="search link icon"></i>
							</div>
						</form>

					</div>
				</div>
			</div>
			<a href="#" class="ui menu toggle black icon button my-right-top my-mobile-show">
				<i class="sidebar icon"></i>
			</a>
		</nav>
		<br/>
		<br/>
		<br/>
		<!-- 中间内容 -->
		<div class="my-contain">
			<div class="ui container">
				<div class="ui attached segment">
					<div class="ui two column grid">
						<div class="column">
						<h3 class="ui teal header">归档</h3>
						</div>
					<div class="right aligned column">
						共<h3 class="ui orange header my-inline-block" th:text="${blogcount}">14</h3>个
					</div>
					</div>
				</div>
			</div>
			<th:block th:each="item : ${archives}">
			<h2 class="ui center aligned header" th:text="${item.key}">2021</h2>
			<div class="ui fluid vertical menu">
				<a href="#" th:href="@{/blog/{id}(id=${blog.id})}" target="_blank" class="item" th:each="blog : ${item.value}">
				  <span>
					<i class="ui teal circle icon"></i><span th:text="${blog.title}">中国优秀散文</span>
					<div class="ui teal left pointing basic label" th:text="${#dates.format(blog.updateTime,'MMMdd')}">9月15日</div>
				  </span>
					 <div class="ui orange left pointing basic label my-margin-middle" th:text="${blog.flag}">原创</div>
				</a>
			</div>
			</th:block>
		</div>
		<br />
		<br />
		<br />
		<br />
		<br />
		<br />
		<br />
		<br />
		<br />
		<br />
		<br />
		<br />
		<br />
		<!-- 底部部分 -->
		<footer th:replace="_fragments :: footer" class="ui inverted vertical segment">

		</footer>
		<th:block th:replace="_fragments :: script">
			<script>
				/* 菜单在手机端的点击显示 */
				$('.menu.toggle').click(function(){
					$('.my-item').toggleClass('my-mobile-hide');
				});
				$('#newblog-container').load(/*[[@{/newblogs}]]*/"/newblogs");
			</script>
		</th:block>
	</body>
</html>
