<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head >
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width,initial-scale=1.0" />
		<title>详情页</title>
		<script src="../static/js/jquery-3.6.0.min.js" th:src="@{/js/jquery-3.6.0.min.js}"></script>
		<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
		<script src="../static/lib/prism/prism.js" th:src="@{/lib/prism/prism.js}"></script>
		<script src="../static/lib/tocbot/tocbot.min.js" th:src="@{/lib/tocbot/tocbot.min.js}"></script>
		<script src="../static/lib/qrcode/qrcode.min.js" th:src="@{/lib/qrcode/qrcode.min.js}"></script>
	    <script src="../static/js/jquery.scrollTo.min.js" th:src="@{/js/jquery.scrollTo.min.js}"></script>
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
		<link rel="stylesheet" href="../static/css/typo.css" th:href="@{/css/typo.css}">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>
		<link rel="stylesheet" href="../static/lib/prism/prism.css" th:href="@{/lib/prism/prism.css}" />
		<link rel="stylesheet" href="../static/lib/tocbot/tocbot.css" th:href="@{/lib/tocbot/tocbot.css}">
		<link rel="stylesheet" href="../static/css/mycss.css" th:href="@{/css/mycss.css}">
		
	</head>
	<body>
		<!-- 导航栏 -->
		<nav class="ui inverted attached segment my-Navbar my-shadow-small">
			<div class="ui container">
				<div class="ui inverted stackable menu">
					<h2 class="ui teal header item">libowen</h2>
					<a href="#" th:href="@{/}" class="my-item item my-mobile-hide"><i class="home icon"></i>首页</a>
					<a href="#"  th:href="@{/types/-1}" class="active my-item item my-mobile-hide"><i class="idea icon"></i>分类</a>
					<a href="#"  th:href="@{/archives}" class="my-item item my-mobile-hide"><i class="clone icon"></i>归档</a>
					<a href="#" th:href="@{/tags/-1}" class="my-item item my-mobile-hide"><i class="tags icon"></i>标签</a>
					<a href="#"  th:href="@{/aboutme}" class="my-item item my-mobile-hide"><i class="info icon"></i>关于我</a>
					<div class="right my-item  item my-mobile-hide">
						<form name="search" th:action="@{/search}" method="post" target="_blank">
							<div class="ui icon  input">
								<input name="query" type="text" placeholder="Search..." th:value="${query}"/>
								<i onclick="document.forms['search'].submit()" class="search link icon"></i>
							</div>
						</form>

					</div>
				</div>
			</div>
			<a href="#" class="ui menu toggle black icon button my-right-top my-mobile-show">
				<i class="sidebar icon"></i>
			</a>
		</nav>
		<br/>
		<br/>
		<br/>
		<!-- 中间内容 -->
		<div class="my-contain">
		<div class="ui container">
			<div class="ui top attached segment">
				<div class="ui horizontal link list">
					<div class="item">
						<img src="https://picsum.photos/seed/picsum/100/100" th:src="@{${blog.user.avatar}}"  class="ui avatar image" />
						<div class="content"><a href="#" class="header" th:text="${blog.user.nickname}">李博文</a></div>
					</div>
					<div class="item">
						<i class="calendar icon"></i><span th:text="${#dates.format(blog.updateTime,'yyyy-MM-dd')}">2021-9-24</span>
					</div>
					<div class="item">
						<i class="eye icon"></i><sapn th:text="${blog.views}">4036</sapn>
					</div>
				</div>
			</div>
			<div class="ui attached segmentfile:///C:/Users/ASUS/Desktop/prism.css
					file:///C:/Users/ASUS/Desktop/prism.js
					file:///C:/Users/ASUS/Desktop/prism.css
					file:///C:/Users/ASUS/Desktop/prism.js
					">
				<!-- 图片 -->
				<img src="https://picsum.photos/seed/picsum/100/80" th:src="@{${blog.firstPicture}}" class="ui fluid rounded image" />
			</div>
			<div class="ui attached segment">
				<!-- 博客内容 -->
				<div class="ui right aligned basic segment">
					<div class="ui orange label" th:text="${blog.flag}">原创</div>
				</div>
				<h2 class="ui center aligned header" th:text="${blog.title}">追忆似水流年</h2>
				<br/>
				<div id="content" th:utext="${blog.content}">

				</div>
				<div class="ui basic segment my-padding-lr" th:each="tag : ${blog.tags}">
					<div class="ui teal left pointing basic  label " th:text="${tag.name}">方法论</div>
				</div>
				<div th:if="${blog.appreciation}">
				<div class="ui center aligned basic segment">
					<button id="paybutton" class="ui orange basic circular button">赞赏</button>
				</div>
				<div class="ui payQR flowing popup transition hidden">
				<div class="ui orange basic label">
					<div class="ui images" style="font-size: inherit;">
						<div class="ui image">
							<img src="../static/img/wechat.jpg" th:src="@{/img/wechat.jpg}"  class="ui rounded image" style="width: 120px;"/>
							<div>微信</div>
						</div>
						<div class="ui image">
							<img src="../static/img/wechat.jpg" th:src="@{/img/wechat.jpg}" class="ui rounded image" style="width: 120px;"/>
							<div>支付宝</div>
						</div>
					</div>
				</div>
				</div>
				</div>
			</div>
			<div class="ui attached message" th:if="${blog.shareStatement}">
				<!-- 博客信息 -->
				<div class="ui middle aligned grid">
					<div class="eleven wide column">
						<ui class="list">
							<li>作者：<span th:text="${blog.user.nickname}">李博文</span></li>
							<li>发表时间：<span th:text="${#dates.format(blog.updateTime,'yyyy-MM-dd HH:mm')}">2021-9-24</span></li>
							<li>版权声明：自由转载-禁止商用-保持署名</li>
							<li>公众号转载：请添加作者微信</li>
						</ui>
					</div>
					<div class="five wide column">
						<img src="../static/img/wechat.jpg" alt="" th:src="@{/img/wechat.jpg}" class="ui right floated rounded bordered image" style="width: 110px;">
					</div>
				</div>
			</div>
			<div class="ui bottom attached  segment">
				<div id="comment-container" class="ui teal comments" >
					<div   th:fragment="commentlist">
				  <h3 class="ui dividing header">Comments</h3>
				  <div class="comment" th:each="comment : ${comments}">
				    <a class="avatar">
				      <img src="../static/img/pepole.jpg" th:src="@{/img/pepole.jpg}">
				    </a>
				    <div class="content">
				      <a class="author" >
						  <sapn th:text="${comment.nickname}">Matt</sapn>
						  <div class="ui mini basic teal left pointing label" th:if="${comment.adminComment}">博主</div>
					  </a>
				      <div class="metadata">
				        <span class="date" th:text="${#dates.format(comment.createTime,'yyyy-MM-dd hh-mm')}">Today at 5:42PM</span>
				      </div>
				      <div class="text" th:text="${comment.content}">
				        How artistic!
				      </div>
				      <div class="actions">
				        <a class="reply" data-commentid="1" data-commentnickname="Matt" th:attr="data-commentid=${comment.id},data-commentnickname=${comment.nickname}" onclick="reply(this)">回复</a>
				      </div>
				    </div>
					  <div class="comments" th:if="${#arrays.length(comment.replayComments)}>0">
						  <div class="comment" th:each="reply : ${comment.replayComments}">
							  <a class="avatar">
								  <img src="../static/img/pepole.jpg" th:src="@{/img/pepole.jpg}">
							  </a>
							  <div class="content">
								  <a class="author" >
									  <span th:text="${reply.nickname}">Matt </span>
										   <div class="ui mini basic teal left pointing label" th:if="${reply.adminComment}">博主</div>
									 <span th:text="|@ ${reply.parentComment.nickname}|" class="teal"></span>
								  </a>
								  <div class="metadata">
									  <span class="date" th:text="${#dates.format(reply.createTime,'yyyy-MM-dd hh-mm')}">Today at 5:42PM</span>
								  </div>
								  <div class="text" th:text="${reply.content}">
									  How artistic!
								  </div>
								  <div class="actions">
									  <a class="reply" data-commentid="1" data-commentnickname="Matt" th:attr="data-commentid=${reply.id},data-commentnickname=${reply.nickname}" onclick="reply(this)">回复</a>
								  </div>
							  </div>
						  </div>
					  </div>
				  </div>

					</div>
				</div>
				  <br/>
				   <br/>
				  <div id="comment-form" class="ui form" th:if="${blog.commentabled}" >
					  <input type="hidden" name="blog.id" th:value="${blog.id}">
					  <input type="hidden" name="parentComment.id" value="-1">
					  <div class="field">
						  <textarea name="content" placeholder="请输入评论信息"></textarea>
					  </div>
					  <div class="fields">
						  <div class="field">
							  <div class="ui left icon input">
								  <i class="user icon"></i>
							  	<input type="text" name="nickname" placeholder="姓名" th:value="${session.user}!=null ? ${session.user.nickname}" />
							  </div>
							  
						  </div>
						  <div class="field">
							  <div class="ui left icon input">
								  <i class="mail icon"></i>
						  	  <input type="text" name="email" placeholder="邮箱" th:value="${session.user}!=null ? ${session.user.email}"/>
							  </div>
						  </div>
						  <div class="field">
							  <button id="commentpost-btn" type="button" class="ui teal button"> <i class="edit icon"></i> 评论</button>
						  </div>
					  </div>
				  </div>

			</div>
		</div>
		</div>
		<div class="ui segment my-margin-right">
		<div class="ui vertical buttons my-fixed my-right-bottom ">
			<button id="wechat" class="ui teal wechat button"><i class="ui weixin icon"></i></button>
			<br/>
			<button type="button" id="toc" class="ui  teal button">目录</button>
			<br/>
			<a href="#" class="ui teal button"><i class="chevron up icon"></i></a>
		</div>
		</div>
		<!-- 二维码生成区域 -->
		<div id="qrcode" class="ui wechat-qr flowing popup transition hidden" style="width: 110px;">
			
		</div>
		<!-- 目录生成 -->
		<div class="ui toc-contment  flowing popup transition hidden" style="width: 250px;">
			<ol class="js-toc">
			</ol>
		</div>
		<br />
		<br />
		<br />
		<br />
		<br />
		<br />
		<br />
		<br />
		<br />
		<br />
		<br />
		<br />
		<br />
		<!-- 底部部分 -->

		<footer th:replace="_fragments :: footer" class="ui inverted vertical segment">

		</footer>
		<th:block th:replace="_fragments :: script">
		</th:block>
		<script th:inline="javascript">
		/* 菜单在手机端的点击显示 */
		  $('.menu.toggle').click(function(){
			  $('.my-item').toggleClass('my-mobile-hide');
		  });
		  /* 赞赏功能点击弹出二维码*/
		  $('#paybutton').popup({
			  popup :$('.payQR.popup'),
			  on:'click',
			  position:'bottom center',
		  });
		  /* 目录的弹出*/
		  $('#toc').popup({
			  popup :$('.toc-contment.popup'),
			  on:'click',
			  position:'bottom center',
		  });
		  /* 目录的生成*/
		  tocbot.init({
		    // Where to render the table of contents.
		    tocSelector: '.js-toc',
		    // Where to grab the headings to build the table of contents.
		    contentSelector: '.js-toc-content',
		    // Which headings to grab inside of the contentSelector element.
		    headingSelector: 'h1, h2, h3',
		    // For headings inside relative or absolute positioned containers within content.
		    hasInnerContainers: true,
		  });
		  /* ----二维码弹出---*/
		  $('#wechat').popup({
			  popup :$('#qrcode.popup'),
			  on:'click',
			  position:'top center',
		  });
		  /* ------二维码生成*/
		  var qrcode = new QRCode("qrcode", {
		      text: "http://jindo.dev.naver.com/collie",
		      width: 128,
		      height: 128,
		      colorDark : "#000000",
		      colorLight : "#ffffff",
		      correctLevel : QRCode.CorrectLevel.H
		  });

		  /*表单的验证*/
		$('.ui.form').form({
			fields: {
				content: {
					identifier: 'content',
					rules: [{
						type: 'empty',
						prompt: '内容：内容不能为空！'
					}]
				},
				nickname: {
					identifier: 'nickname',
					rules: [{
						type: 'empty',
						prompt: '名称内容：名称不能为空！'
					}]
				},
				type: {
					identifier: 'email',
					rules: [{
						type: 'email',
						prompt: '请输入正确的邮箱地址！'
					}]
				}
			}
		});

		/*显示评论信息*/
		$(function () {
			$("#comment-container").load("/comments/"+[[${blog.id}]]);
		});
		/*评论的表单提交*/
		$('#commentpost-btn').click(function (){
			var boo=$('.ui.form').form('validate form');
			if(boo){
				console.log("校验成功");
				postData();
			}else {
				console.log("校验失败");
			}
		});

		function postData(){
			$("#comment-container").load("/comment",{
				"parentComment.id": $("[name='parentComment.id']").val(),
				"blog.id": $("[name='blog.id']").val(),
				"nickname": $("[name='nickname']").val(),
				"email": $("[name='email']").val(),
				"content": $("[name='content']").val(),
			},function (responseTxt,statusTxt,xhr){
					$(window).scrollTo($('#comment-container'),500);
                clearContent();
			});
		}
		function clearContent(){
			$("[name='content']").val('');
			$("[name='parentComment.id']").val(-1);
			$("[name='content']").attr("placeholder","请输入评论信息...");
		}
		function reply(obj){
			var commentId=$(obj).data('commentid');
			var commentNickname=$(obj).data('commentnickname');
			$("[name='content']").attr("placeholder","@"+commentNickname).focus();//把评论框中的“请输入评论信息”，改成“@+名字”
			$("[name='parentComment.id']").val(commentId);
			$(window).scrollTo($('#comment-form'),500);
		}
		</script>
	</body>
</html>
